{% extends "base.html" %}
<h1>Заказ-наряд<h1>
{% block body_block %}

    <form action="{% url 'orders:create' %}" method="POST" id='cleaningForm'>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <h2>Заказ наряд</h2>
        <p>
            <label for="id_cleaning_date_start">Дата</label>
            <input type="date" id="id_cleaning_date_start" name="cleaning_date_start">
            {{form.team}}
            {{form.customer_name}}
            {{form.driver}}
        </p>
        <hr>
        <p>
            <label for="id_external_cleaning">Наружная мойка</label>
            <input type="checkbox" id="id_external_cleaning" name="external_cleaning">
            <!-- {{form.car_num}} -->
            {{form.car_type}}
            {{form.tank_num}}
            {{form.trail_type}}
        </p>
        <hr>
        <label for="id_internal_cleaning">Наружная мойка</label>
        <input type="checkbox" id="id_internal_cleaning" name="internal_cleaning">
        <h6>Очищаемые секции, объем</h6>
        <table>
            <tr>
                <td>
                    {{form.sec1}}
                </td>
                <td>
                    {{form.sec2}}
                </td>
                <td>
                    {{form.sec3}}
                </td>
                <td>
                    {{form.sec4}}
                </td>
                <td>
                    {{form.sec5}}
                </td>
                <td>
                    {{form.sec6}}
                </td>
            </tr>
        </table>
        <input type="submit" class = 'btn btn-primary btn-large' value="Сохранить">

    </form>
    
{% endblock body_block %}